
.ion-md-customhome {
  content: url(../../assets/img/Drawing1svg);
  width: 36px;
  height: 36px;
  padding: 6px 4px 2px;
  opacity: 1;
}


.ion-md-customcitizen {
    content: url(../../assets/img/cetizenjurnalist_36x36px.svg);
    width: 36px;
    height: 36px;
    padding: 6px 4px 2px;
    opacity: 0.9;
  }

  
.ion-md-custommediakit {
    content: url(../../assets/img/mediakit_36x36px.svg);
    width: 36px;
    height: 36px;
    padding: 6px 4px 2px;
    opacity: 0.9;
  }
  
