
.ion-md-customhome {
  content: url(../../assets/imgs/otakhome.png);
  width: 30px;
  height: 30px;
  opacity: 0.9;
}


.ion-md-customcitizen {
    content: url(../../assets/imgs/citizen.png);
    width: 30px;
    height: 30px;
    opacity: 0.9;
  }

  
.ion-md-custommediakit {
    content: url(../../assets/imgs/mediakit.png);
    width: 30px;
    height: 30px;
    opacity: 0.9;
  }
  